
html, body {
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
}

input {
    padding: 15px;
    border: 1px solid var(--main-text-color);;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);;
    text-outline: none;
}
iframe {
    background-color: white;
    width: 100%;
}
label {
    padding-bottom: 15px;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
}
h1 {
    color: var(--main-text-color);;
}
button {
    width: 210px;
    height: 70px;
    background-color: black;
    border: 1px solid white;
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin: 0 10px;
    cursor: pointer;
}
textarea {
    width: 580px;
    height: 155px;
}


.app {
    /*colors*/
    --main-bg-color: black;
    --main-text-color: white;
    --main-border-color: #C4C4C4;
    width: 100%;
    background-color: var(--main-bg-color);
    height: 100vh;
    color: var(--main-text-color);
}

.app__form {
    margin: 0 auto;
    max-width: 980px;

}

.inputRow {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-between;
}

.inputGroup {
    display: flex;
    flex-flow: column nowrap;
}



.section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.customize {
    border-top: 2px solid var(--main-border-color);
}

.info {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    justify-content: center;
}


.copy-code {
    display: flex;
    justify-content: center;
    align-items: top;
    margin-top: 100px;
}



