
html, body {
    margin: 0;
    padding: 0;
}

.app {
    /*colors*/
    --main-bg-color: black;
    --main-border-color: #C4C4C4;
    width: 100%;
    background-color: var(--main-bg-color);
    height: 100vh;
}

.app__form {
    margin: 0 auto;
    max-width: 980px;
}

.section {
    border-top: 2px solid var(--main-border-color);
    padding-top: 80px;
    padding-bottom: 80px;
}
